/*
*Colores
*
*/
$c-font: #707070;
$c-font2: #989898;
$c-black: #000000;
$c-white: #ffffff;
$c-golden: #B48753;
$c-greyBlack: #191919;
$c-grey: #9D9D9C;
$c-border: #313131;
$c-mouse: #6E6E6E;
$c-green: #00945E;
$c-red: #B71C1C;
$c-red2: #DF2128;
$c-pink: #F4A0EB;
$c-pink-soft: #FFE6F0;
$c-yellow: #FBAF3F;
$c-orange: #EB6625;
$c-orange2: #E68F34;
$c-blue-soft: #7A67F3;
$c-blue: #605BFF;
$c-lightblue: #DCDAF8;
$c-text: #9B9B9B;
$c-background: #fff;
$c-input: #F8F8F8;
/*
*Medidas Query
*
*/
$mq-min: 420px;
$mq-xs: 520px;
$mq-form: 650px;
$mq-sm: 768px;
$mq-md: 1180px; //82VW
$mq-lg: 1300px;
$mq-all: 1520px;


/*
*Rutas
*
*/
$r-images: "../images/";
$r-font: "../fonts/";
